QWidget{background:#4AB19D;}

QLineEdit {
    color: #F1E6C1;
    background: #EF3D59;
}

QPushButton {
    background: #EFC958;
    color: #344E5C;
    border-radius: 3px;
    padding: 2px;
}

QPushButton:pressed {
    background: #E17A47;
    color: #EFEEEE;
}


